.selectPage {
    color: rgb(205, 90, 167);
    font-weight: 700;
    font-size: 25px;
}

.paginator {
    margin: 10px;
    color: white;
    padding: 20px;
}

.pageNumber {
    padding: 10px;

}

.nextBack {
        background: linear-gradient( to right, #f29ff6, #d583e2, #f684ca );
        width:50px;
        height: 20px;
}