.userPhoto{
    height: 70px;
    width: 70px;
}

.selectPage{
    color:rgb(205, 90, 167);
    font-weight: 700;
    font-size: 25px;
}

.number{
    letter-spacing:30px;
    color:white;
}

.button{ 
        background: linear-gradient( to right, #f29ff6, #d583e2, #f684ca );
        width: 70px;
        height: 20px;
}

.users{
    display: flex;
    padding: 15px;
    color:white;

}