.postBlock{
    padding: 10px;
    color: white;
}

.posts{
    padding: 10px;
    color: white;
}

.buttonEdit{
	background: linear-gradient( to right, #f29ff6, #d583e2, #f684ca );
    width: 100px;
    height: 20px;
}

.input{
    border: 2px solid #f29ff6;
    padding: 5px;
}