.header{
    grid-area: h;
    padding: 40px 70px 0px 90px;
    color:rgb(205, 90, 167);
}

.loginBlock{
    padding: 20px;
    float: right;
    color:rgb(205, 90, 167);
}

.loginBlock{
    color:rgb(205, 90, 167);
    padding: 5px 0px 0px 0px;

}

.button{
    background: linear-gradient( to right, #f29ff6, #d583e2, #f684ca );
    width: 100px;
    height: 20px;
}

.login{
    color: white;
}