.app-wrapper{
    display: grid;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows:  60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content{
    grid-area: c;
    padding:0px 0px 0px 200px
}

.button{
    background-color: blueviolet;
}

.error{
    height: 700px;
    width: 700px;
    position: relative;
    top: -79px;
    left: 13px;
}

.text{
    color:white;
    position: relative;
    top: -154px;
    left: 225px;
}
