.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
    text-decoration: none;
}

.dialogsItem {
    color: white;
    font-size: 25px;
}

.dialogsItem .active {
    color: rgb(205, 90, 167);
    font-weight: 700;
}

/* .messages {
    padding: 10px;
}

.message {
    padding: 10px;
}

.textarea {
    border: 6px solid #c0a2dc;
}

.button {
    background-color: #EEDDFF;
    border: 6px solid #c0a2dc;
    border-radius: 25px;
} */