.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:black;
    text-decoration: none;
}

.dialogsItem{
    padding: 10px;
}

.dialog{
    padding: 10px;
}

.dialogsItem .active{
    color:rgb(205, 90, 167);
    font-weight: 700;
}

.messages{
    padding: 10px;
}

.message{
    padding: 10px;
}